:root {
  --border-color-main: #5c96c5;
  --color: #f1f1f1;
  --background-color: rgba(240, 129, 3, 0.8);
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 550px;
}

.jumbotron {
  display: flex;
  flex-direction: row-reverse;
  min-height: 525px;
  background-color: var(--background-color);
  border-style: solid;
  border-color: var(--border-color-main);
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: var(--background-color);
  height: 106%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  border-color: var(--border-color-main);
  border-style: solid;
}

.row {
  margin: 10px;
}

.lead {
  margin: 10px;
  padding: 10px;
}

.ul,
li {
  padding: 20px;
  color: var(--color);
  font-size: 16px;
}

body {
  font-family: "Arvo", serif;
  background-image: url("https://i.redd.it/bnef3fhuqm261.png");
  background-size: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
  margin-top: 10px;
  border-color: var(--border-color-main);
  border-style: solid;
}

.personal-info {
  display: flex;
  gap: 100px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}

.well {
  background-color: var(--background-color);
  border-color: var(--border-color-main);
  border-style: solid;
}

.card-text {
  color: var(--color);
}

h1.display-4 {
  color: var(--color);
}

h2 {
  color: var(--color);
}

a {
  color: var(--color);
}

.col-sm-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
